name: Release Generator

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Test Generator
        run: dotnet test ./HasFlagExtension.Tests/HasFlagExtension.Tests.csproj

      - name: Build Generator
        run: dotnet build ./HasFlagExtension.Generator/HasFlagExtension.Generator.csproj --configuration Release

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./HasFlagExtension.Generator/bin/Release/netstandard2.0/HasFlagExtension.Generator.dll
          generate_release_notes: true
